body{
	margin:0px;
	padding:0px;
	background: url('../images/bg_1.jpg') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
/* Wrapper CSS Starts */ 
#wrapper{
	width:100%;
	float:left;
	height:auto;
	
}
/* Wrapper CSS Ends */ 

/* Main CSS Starts */ 
#main{
	width:auto;
	margin:0px auto;
	height:auto;
	padding: 0px 20px;

}
/* Main CSS Ends */ 

/* Header CSS Starts */ 
header{
	width:100%;
	float:left;
	height:5px;
	text-align: center;
}
/* Header CSS Ends */ 

/* Section CSS Starts */ 
section{
	float:left;
	width:100%;
	height:auto;
}
	/* Form CSS Starts */ 
	section form{
		/* margin:0px auto; */ 
		width:500px;
		padding:25px 80px;
		height: auto;
		border: 1px solid white;
		border-radius: 30px;
		box-shadow: 0px 0px 10px 5px #BF9E5C;
		background:rgba(255,255,255,0.3);
		float: left;
	}
	section form label{
		float:left;
		width:150px;
		font-family: arial;
		font-size: 13px;
		color:black;
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 10px;
	}
	section form input{
		width:300px;
		float:left;
		margin-bottom: 15px;
		padding: 10px;
		border-radius: 10px; 
		border: 1px solid #663300;
		font-family: arial;
		box-shadow: 0px 0px 2px 2px #A18140;
	}
	section form input:focus{
		box-shadow: 0px 0px 2px 2px #FFCC66;
		border:none;
		border-radius: 10px; 
		border: 1px solid #663300;
	}
	section form textarea{
		float: left;
		margin-bottom: 15px;
		width:300px;
		border-radius: 15px;
		padding: 10px;
		height: 80px;
		border: 1px solid #663300;
		box-shadow: 0px 0px 2px 2px #A18140;
		font-family: arial;
		font-size: 13px;
	}
	section form span.error_icon{
		position:relative;
		float:left;
		margin-left: -20px;
		margin-top: 10.5px;
		display:none;
	} 
	section form span.error_icon img{
		width:15px;
		height:15px;
	}
	section form span.error_msg{
		padding:5px 5px;
		height:10px;
		color:white;
		background:red;
		float: right;
		line-height: 9px;
		font-size: 13px;
		position: relative;
		margin: -71px -65px 0px 0px;
		display:none;
		text-align: center;
		width:200px;
		font-family: arial;
	}
	section form div.triangle{
		width: 0; 
		height: 0; 
		border-left: 7.5px solid transparent;
		border-right: 7.5px solid transparent;
		float:right;
		margin: -51px 33px 0px 0px;
		position: relative;
		border-top: 7.5px solid #f00;
		display:none;
	}
	section form input.radio_btn{
		width:14px;
		float:left;
		line-height: 13px;
		margin-top: 12px;
		border:0px;
		box-shadow: none;
		border: 1px solid #663300;
	}
	section form label.gender{
		width:80px;
		font-size:12px;
		line-height: 18px;
		padding-right: 5px;
		/* margin-top: 0px; */ 
	}
	section form input.checkbox_btn{
		width:14px;
		float:left;
		line-height: 13px;
		margin-top: 12px;
		border:0px;
		border: 1px solid #663300;
		box-shadow: none;
	}
	section form label.hobby{
		width:53px;
		font-size:12px;
		line-height: 18px;
		padding-right:5px;
	}
	section form  #location_error_msg{
		margin: -136px -65px 0px 0px;
	}
	section form  #checkbox_error_icon{
		margin: 10px 8px;
	}
	section form #location_triangle{
		margin: -116px 34px 0px 0px;
	}
	section form #checkbox_error_msg{
		margin: -58px -65px 0px 0px;
	}
	section form #checkbox_triangle{
		margin: -40px 12px 0px 0px;
	}
	section form #submit_btn{
		width: 160px;
		margin-left: 178px;
		border: 2px solid #663300;
		box-shadow: none;
	}
	/* Form CSS Ends */ 

	/* Div Containing Map CSS Starts */ 
	section #map{
		width:640px;
		height: 690px;
		border: 1px solid white;
		border-radius: 30px;
		box-shadow: 0px 0px 10px 5px #BF9E5C;
		background:rgba(255,255,255,0.3);
		float: left;
	}
	/*  Div Containing Map CSS Ends  */ 

	/*   Div Containg Latlong CSS Starts  */ 
	section #latlong{
		display:none;
		float:right;
		width:600px;
		height:75px;
		margin-top: -680px;
		position:relative;
		z-index: 2;
		padding:20px 0px;
		margin-right: -20px;
		text-align: center;
	}
	section #latlong label{
		float:left;
		width:90px;
		font-family: arial;
		font-size: 13px;
		color:black;
		font-weight: bold;
		margin-bottom: 15px;
		margin-top: 10px;
		margin-left: 10px;
	}
	section #latlong input{
		width:150px;
		float:left;
		margin-bottom: 15px;
		padding: 10px;
		border-radius: 10px; 
		border: 1px solid #663300;
		font-family: arial;
		box-shadow: 0px 0px 2px 2px #A18140;
	}
	/*  Div Containing Latlong CSS Ends  */ 

/*  Section CSS Ends  */ 

/*  Footer CSS Starts  */ 
footer{
	width:100%;
	float:left;
	height: 5px;
}
/*  Footer CSS Ends  */ 